<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix's site is a system where you can track and organize team's times and projects">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Trackgenix | A System to Track Team's Times and Projects</title>
        <link rel="shortcut icon" href="../assets/logo-icon.ico" type="image/logo-icon">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/landing.css">
        <link rel="stylesheet" href="../css/footer.css">
    </head>
    <body>
        <header>
            <div class="logo-social-container">
                <a href="#Home" class="header-logo">
                    <img src="../assets/logo.png" alt="Trackgenix Logo" class="logo-img">
                </a>
                <ul class="header-social">
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-twitter.png" alt="Twitter Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-instagram.png" alt="Instagram Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-linkedin.png" alt="LinkedIn Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-facebook.png" alt="Facebook Icon">
                        </a>
                    </li>
                </ul>
            </div>
            <button class="header-btn">
                <div class="arrow"></div>
            </button>
        </header>
        <div class="main-aside-container">
            <aside>
                <section>
                    <ul class="aside-menu-list">
                        <li>
                            <h4>Menu</h4>
                        </li>
                        <li>
                            <a href="../views/index.html">Home</a>
                        </li>
                        <li>
                            <a href="../views/sign-up.html">Sign up</a>
                        </li>
                        <li>
                            <a href="../views/login.html">Sign in</a>
                        </li>
                        <li>
                            <a href=#about-us>About us</a>
                        </li>
                    </ul>
                </section>
                <h4>Get in touch</h4>
                <p>
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
                    ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <address class="aside-address">
                    <ul class="aside-address-list">
                        <li>
                            <a href="">
                                <img src="../assets/icon-aside-phone.png" alt="Phone Icon">
                                <p>
                                    (000) 000-0000
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:information@untitled.tld">
                                <img src="../assets/icon-aside-email.png" alt="Email Icon">
                                <p>
                                    information@untitled.tld
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/icon-aside-address.png" alt="Address Icon">
                                <div>
                                    <p>
                                        1234 Somewhere Road #8254
                                    </p>
                                    <p>
                                        Nashville, TN 00000-0000
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </address>
            </aside>
            <main>
                <section class="section-main title-section">
                    <div class="title-container">
                        <div class="title-text">
                            <h1>
                                <span class="title-span">Trackgenix</span> by RadiumRocket
                            </h1>
                            <h4>An easy system to track your team's times and projects</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <div class="title-img">
                            <img src="../assets/img-1.png" alt="Presentation Image">
                        </div>
                    </div>
                    <div class="title-btn">
                        <a href="" class="btn">Learn More</a>
                    </div>
                </section>
                <section class="section-main services-section">
                    <h2>Services</h2>
                    <div class="services-articles-container">
                        <article class="services-article">
                            <div class="services-img">
                                <img src="../assets/icon-section-hours.png" alt="Hours Registry Icon">
                            </div>
                            <div class="services-text">
                                <h3>Hours Registry</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </article>
                        <article class="services-article">
                            <div class="services-img">
                                <img src="../assets/icon-section-reports.png" alt="Reports Icon">
                            </div>
                            <div class="services-text">
                                <h3>Reports</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </article>
                        <article class="services-article">
                            <div class="services-img">
                                <img src="../assets/icon-section-resources.png" alt="Resources Managment">
                            </div>
                            <div class="services-text">
                                <h3>
                                    Resources Managment
                                </h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </article>
                        <article class="services-article">
                            <div class="services-img">
                                <img src="../assets/icon-section-roles.png" alt="Multiple Roles Icon">
                            </div>
                            <div class="services-text">
                                <h3>Multiple Roles</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="section-main why-section">
                    <h2>Why Trackgenix?</h2>
                    <div class="why-articles-container">
                        <article class="why-article">
                            <img src="../assets/img-2.png" alt="Placeholder Image">
                            <div class="why-text">
                                <h3>Productivity enhancement</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <a href="" class="btn">More</a>
                        </article>
                        <article class="why-article">
                            <img src="../assets/img-3.png" alt="Placeholder Image">
                            <div class="why-text">
                                <h3>Work tracebility</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <a href="" class="btn">More</a>
                        </article>
                        <article class="why-article">
                            <img src="../assets/img-4.png" alt="Placeholder Image">
                            <div class="why-text">
                                <h3>Leadership and teamwork</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <a href="" class="btn">More</a>
                        </article>
                        <article class="why-article">
                            <img src="../assets/img-5.png" alt="Placeholder Image">
                            <div class="why-text">
                                <h3>Decision making</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <a href="" class="btn">More</a>
                        </article>
                    </div>
                </section>
                <section class="section-main request-section">
                    <h2>Request System Information</h2>
                    <form class="request-form">
                        <div class="contact-input">
                            <label for="name">Name</label>
                            <input type="text" id="name">
                            <label for="email">Email</label>
                            <input type="email" id="email">
                            <p>Contact Area</p>
                            <div class="checkbox-container">
                                <div class="checkbox-text">
                                    <input type="checkbox" checked id="hresources">
                                    <label for="hresources">Human Resources</label>
                                </div>
                                <div class="checkbox-text">
                                    <input type="checkbox" id="systems">
                                    <label for="systems">Systems</label>
                                </div>
                                <div class="checkbox-text">
                                    <input type="checkbox" id="commercial">
                                    <label for="commercial">Commercial</label>
                                </div>
                            </div>
                        </div>
                        <div class="contact-message">
                            <label for="message">Message</label>
                            <textarea id="message" rows="10" cols="60" placeholder="Placeholder."></textarea>
                            <div class="submit-container">
                                <button class="btn">Reset</button>
                                <input type="submit" value="Send" class="btn">
                            </div>
                        </div>
                    </form>
                </section>
                <section class="section-main story-section" id="about-us">
                    <h2>Our Story</h2>
                    <article class="story-article">
                        <div class="story-text">
                            <h3>An Easy System</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <p>
                                When an unknown printer took a galley of type and 
                                scrambled it to make a type specimen book. 
                            </p>
                        </div>
                        <img src="../assets/img-6.png" alt="Placeholder Image">
                    </article>
                    <article class="story-article">
                        <div class="story-text">
                            <h3>An Easy System</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <p>
                                When an unknown printer took a galley of type and 
                                scrambled it to make a type specimen book. 
                            </p>
                        </div>
                        <img src="../assets/assets-6.png" alt="Placeholder Image">
                    </article>
                </section>
                <section class="section-main list-section">
                    <div class="list">
                        <h3>Products</h3>
                        <ul>
                            <li><a href="">Functionalities</a></li>
                            <li><a href="">Downloads</a></li>
                            <li><a href="">Integrations</a></li>
                            <li><a href="">Extras</a></li>
                        </ul>
                    </div>
                    <div class="list">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Clients</a></li>
                            <li><a href="">Resources</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                    <div class="list">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a href="">Tutorials</a></li>
                            <li><a href="">API</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </section>
            </main>
        </div>
        <footer>
            <ul class="footer-social-ul">
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-twitter.png" alt="Twitter Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-instagram.png" alt="Instragram Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-linkedin.png" alt="LinkedIn Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-facebook.png" alt="Facebook Icon" class="footer-social-img">
                    </a>
                </li>
            </ul>
            <div class="footer-text">
                <p>Rosario, Argentina</p>
                <p>
                    Copyright &copy; 2022 Radium Rocket. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>