<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix's site is a system where you can track 
        and organize team's times and projects">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter
        &family=Roboto:wght@100;300;400;500;600;700&display=swap"rel="stylesheet">
        <title>Trackgenix | A System to Track Team's Times and Projects</title>
        <link rel="shortcut icon" href="../assets/logo-icon.ico" type="image/logo-icon">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/signup.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="../javascript/signup.js"></script>
    </head>
    <body>
        <header>
            <div class="logo-social-container">
                <a href="#Home" class="header-logo">
                    <img src="../assets/logo.png" alt="Trackgenix Logo" class="logo-img">
                </a>
                <ul class="header-social">
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-twitter.png" alt="Twitter Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-instagram.png" alt="Instagram Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-linkedin.png" alt="LinkedIn Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="../assets/icon-header-facebook.png" alt="Facebook Icon">
                        </a>
                    </li>
                </ul>
            </div>
            <button class="header-btn">
                <div class="arrow"></div>
            </button>
        </header>
        <div class="main-aside-container">
            <aside>
                <section>
                    <ul class="aside-menu-list">
                        <li>
                            <h4>Menu</h4>
                        </li>
                        <li>
                            <a href="../views/index.html">Home</a>
                        </li>
                        <li>
                            <a href="../views/sign-up.html">Sign up</a>
                        </li>
                        <li>
                            <a href="../views/login.html">Sign in</a>
                        </li>
                        <li>
                            <a href=#about-us>About us</a>
                        </li>
                    </ul>
                </section>
                <h4>Get in touch</h4>
                <p>
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
                    ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <address class="aside-address">
                    <ul class="aside-address-list">
                        <li>
                            <a href="">
                                <img src="../assets/icon-aside-phone.png" alt="Phone Icon">
                                <p>
                                    (000) 000-0000
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:information@untitled.tld">
                                <img src="../assets/icon-aside-email.png" alt="Email Icon">
                                <p>
                                    information@untitled.tld
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/icon-aside-address.png" alt="Address Icon">
                                <div>
                                    <p>
                                        1234 Somewhere Road #8254
                                    </p>
                                    <p>
                                        Nashville, TN 00000-0000
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </address>
            </aside>
            <main>
                <h1>Register</h1>
                <form action="" class="signup-form">
                    <fieldset>
                        <legend>First Name</legend>
                        <input type="text" class="signup-input" id="firstname-input">
                        <div class="feedback-div" id="firstname-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Last Name</legend>
                        <input type="text" class="signup-input" id="lastname-input">
                        <div class="feedback-div" id="lastname-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>DNI</legend>
                        <input type="text" class="signup-input" id="dni-input">
                        <div class="feedback-div" id="dni-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Birth Date</legend>
                        <input type="date" class="signup-input" id="dob-input">
                        <div class="feedback-div" id="dob-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Phone Number</legend>
                        <input type="text" class="signup-input" id="phone-input">
                        <div class="feedback-div" id="phone-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Address</legend>
                        <input type="text" class="signup-input" id="address-input">
                        <div class="feedback-div" id="address-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Locality</legend>
                        <input type="text" class="signup-input" id="city-input">
                        <div class="feedback-div" id="city-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Postal Code</legend>
                        <input type="text" class="signup-input" id="zip-input">
                        <div class="feedback-div" id="zip-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Email</legend>
                        <input type="text" class="signup-input" id="email-input">
                        <div class="feedback-div" id="email-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Repeat Email</legend>
                        <input type="text" class="signup-input" id="repeatemail-input">
                        <div class="feedback-div" id="repeatemail-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Password</legend>
                        <input type="password" class="signup-input" id="password-input">
                        <div class="feedback-div" id="password-feedback"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Repeat Password</legend>
                        <input type="password" class="signup-input" id="repeatpassword-input">
                        <div class="feedback-div" id="repeatpassword-feedback"></div>
                    </fieldset>
                    <input type="submit" value="Continue" class="signup-submit" id="submit-button">
                </form>
            </main>
        </div>
        <footer>
            <ul class="footer-social-ul">
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-twitter.png" alt="Twitter Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-instagram.png" alt="Instragram Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-linkedin.png" alt="LinkedIn Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../assets/icon-footer-facebook.png" alt="Facebook Icon" class="footer-social-img">
                    </a>
                </li>
            </ul>
            <div class="footer-text">
                <p>Rosario, Argentina</p>
                <p>
                    Copyright &copy; 2022 Radium Rocket. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>