
/* VARIABLES */
:root{
    --clr-bg: #FFFFFF;
    --clr-pm: #373867;
    --clr-sc: #aace9b;
    --clr-sc-lg: #aace9b66;
    --clr-al: #F33413;
    --clr-su: #49A37B;
}

/***********/
/* GENERAL */
/***********/
html{
    height: auto;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
body>*{
    overflow: hidden;
    background-color: var(--cl-bg);
}
a{
    text-decoration: none;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4, a{
    font-size: 15px;
}
p{
    font-size: 12px;
}
a, h1, h2, h3, h4, p{
    color: var(--clr-pm)
}
.btn{
    text-transform: uppercase;
    border: 1px solid var(--clr-pm);
    padding: 10px 30px;
    border-radius: 5px;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.underline{
    text-decoration: underline;
}
/************/
/** HEADER **/
/************/
header{
    background-color: var(--clr-pm);
    padding: 0 30px;
    border-radius: 0 0 15px 15px;
}
header>ul{
    float: right;
}
header>ul>li{
    float: left;
    padding-top: 20px;
    margin: 4px;
}
/************/
/** ASIDE ***/
/************/
aside{
    position: sticky;
    float: left;
    top: 0;
    background-color: var(--clr-sc-lg);
    width: 12%;
    margin: 0 5px 0 15px;
    padding: 25px;
    border-radius: 0 0 15px 15px;
}
aside>section>ul{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}
aside>section>ul>li{
    padding: 7px 0;
}
aside>section>ul>li:nth-child(1)>p,
aside>address>h4{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}
aside>address>h4{
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
}
aside>address>p{
    margin-bottom: 12px;
    font-size: 10px;
}
aside>address>ul>li{
    margin-bottom: 10px;
}
aside>address>ul>li>a>p{
    display: inline;
}
aside>address>ul>li>a>img{
}
/************/
/*** MAIN ***/
/************/
main{
    padding: 40px 0 0 30px;
}
/* SECTION 1 */
main>section{
    overflow: inherit;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--clr-pm);
    margin-right: 20px;
}
main>section>h1{
    margin-bottom: 20px;
}
main>section>h3{
    margin-bottom: 50px;
}
main>section>p{
    margin-bottom: 100px;
    font-size: 20px;
}
main>section>a{
    float: right;
    margin-right: 20px;
}
.img-sect1{
    float: right;
    width: 504px;
    margin-top: 20px ;
}

/************/
/** FOOTER **/
/************/
footer{
}