<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix's site is a system where you can track and organize team's times and projects">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Trackgenix | A System to Track Team's Times and Projects</title>
        <link rel="shortcut icon" href="/Week-06/img/logo-icon.ico" type="image/logo-icon">
        <link rel="stylesheet" href="/Week-06/css/reset.css">
        <link rel="stylesheet" href="/Week-06/css/styles.css">
        <link rel="stylesheet" href="/Week-06/css/header.css">
        <link rel="stylesheet" href="/Week-06/css/sign-up.css">
        <link rel="stylesheet" href="/Week-06/css/footer.css">
    </head>
    <body>
        <header>
            <div class="logo-social-container">
                <a href="#Home" class="header-logo">
                    <img src="/Week-06/img/logo.png" alt="Trackgenix Logo" class="logo-img">
                </a>
                <ul class="header-social">
                    <li>
                        <a href="http://" target="_blank">
                            <img src="/Week-06/img/icon-header-twitter.png" alt="Twitter Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="/Week-06/img/icon-header-instagram.png" alt="Instagram Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="/Week-06/img/icon-header-linkedin.png" alt="LinkedIn Icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank">
                            <img src="/Week-06/img/icon-header-facebook.png" alt="Facebook Icon">
                        </a>
                    </li>
                </ul>
            </div>
            <button class="header-btn">
                <div class="arrow"></div>
            </button>
        </header>
        <footer>
            <ul class="footer-social-ul">
                <li>
                    <a href="">
                        <img src="/Week-06/img/icon-footer-twitter.png" alt="Twitter Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/Week-06/img/icon-footer-instagram.png" alt="Instragram Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/Week-06/img/icon-footer-linkedin.png" alt="LinkedIn Icon" class="footer-social-img">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/Week-06/img/icon-footer-facebook.png" alt="Facebook Icon" class="footer-social-img">
                    </a>
                </li>
            </ul>
            <div class="footer-text">
                <p>Rosario, Argentina</p>
                <p>
                    Copyright &copy; 2022 Radium Rocket. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>