main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    margin: 2% auto;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.25);
}
h1 {
    margin-bottom: 10px;
}
legend, p {
    font-size: calc(12px + .4vw);
    font-weight: 500;
}
legend {
    margin-bottom: 5px;
}
.signup-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.signup-form fieldset {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 5%;
}
.signup-input{
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 1%;
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
    color: var(--clr-primary);
    font-size: calc(8px + 0.6vw);
}
.feedback-div {
    height: 30px;
}
.signup-submit {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    color: var(--clr-primary);
    background: var(--clr-secondary);
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.signup-submit:active {
    background: var(--clr-secondary-light);
}
.input-error {
    border: 2px solid var(--clr-alert);
    color: var(--clr-alert);
}
.feedback-p-error {
    max-width: 100%;
    color: var(--clr-alert);
    font-weight: 400;
}
@media (min-width: 480px) {
    main {
        max-width: 700px;
    }
    .signup-form fieldset {
        box-sizing: border-box;
        width: 50%;
        margin: 2px 0;
    }
}