aside{
    display: none;
}
@media (min-width: 1024px) {
    aside {
        display: block;
        position: sticky;
        width: 25%;
        height: auto;
        border: 1px solid red;  
        top: 0;
    }
}