header {
    background-color: var(--clr-primary);
    border-radius: 0 0 15px 15px;
}
header>a img {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
}
header ul {
    display: none;
}
header button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 3px;
}
header .btn-arrow {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-style: solid;
    border-width: .6rem .6rem 0 .6rem;
    border-color: var(--clr-secondary) transparent transparent transparent;
}
@media (min-width: 480px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }
    header a {
        width: 50%;
    }
    header>a img {
        max-width: 85%;
        margin-top: 10px;
        margin-left: 10px;
    }
    header ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        box-sizing: border-box;
        width: 50%;
        padding-right: 20px;
    }
    header li {
        margin-top: 20px;
    }
}
@media (min-width: 1024px) {
    header {
        padding: 0 40px;
    }
    header>a img {
        margin: 0;
    }
    header button {
        display: none;
    }
    header ul {
        padding: 0;
    }
    header li {
        margin: 0;
    }
}