header {
    background-color: var(--clr-primary);
    border-radius: 0 0 15px 15px;
}
header>a img {
    max-width: 85%;
    display: flex;
    margin: 0 auto;
}
header>ul {
    display: none;
}
header button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 3px;
}
header .btn-arrow {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-style: solid;
    border-width: .5rem .6rem 0 .6rem;
    border-color: var(--clr-secondary) transparent transparent transparent;
}