main>section {
    border-bottom: 2px solid var(--clr-primary);
}
main>section:first-child, main>section:last-child {
    border-bottom: 3px solid var(--clr-primary);
}
.title-section h1, .title-section h3 {
    text-align: center;
}
.span-title {
    display: block;
    font-weight: 700;
}
.title-section h3 {
    margin: 12px 0;
    text-transform: uppercase;
    font-weight: normal;
}
.title-section p {
    padding: 0 20px;
    line-height: 15px;
    text-align: justify;
    font-weight: 100;
}
.title-section img {
    display: block;
    object-fit: cover;
    width: 270px;
    height: 126px;
    margin: 12px auto;
    border-radius: 10px;
}
.title-section .btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 5px 10px;
}
.services-section {
    padding-bottom: 10px;
}
.services-section h2 {
    margin: inherit 10px;
}
.services-section article {
    display: flex;
    margin: 10px;
}
.services-section article:nth-child(2n-1) {
    flex-direction: row-reverse;
}
.services-section img {
    height: 95px;
}
.services-section h3, .services-section p {
    text-align: left;
}
.services-section h3 {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--clr-primary);
}
.services-section p {
    padding: 12px 0 0 10px;
    font-weight: 100;
}
.why-section img, .why-section input {
    display: none;
}
.why-section article {
    margin: 10px 0;
    border-bottom: 1px solid var(--clr-primary);
}
.why-section article:last-child {
    border-bottom: none
}
.why-section>article h3 {
    margin-bottom: 10px;
    text-align: left;
}
.why-section>article div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.why-section>article>div p {
    text-align: justify;
    font-weight: 100;
    padding-right: 10px;
}
.why-section>article>div .btn {
    margin: auto 10px;
    padding: 5px 15px;
    height: fit-content;
}
.request-section>div {
    margin-bottom: 10px;
}
.request-section label, .request-section p {
    font-weight: 600;
}
.request-section div>div {
    display: inline-block;
}
.request-section input#name, .request-section input#email, .request-section textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
.request-section input#name, .request-section input#email {
    height: 30px;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    color: inherit;
}
.request-section p {
    margin: 20px 0 10px 0;
}
.request-section form>div>label:nth-child(2n+7) {
    font-weight: 400;
}
.request-section form>div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
}
.request-section form>div:nth-child(2) label {
    margin-right: auto;
}
.request-section form>div:nth-child(2) textarea {
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-family: inherit;
    color: var(--clr-primary-light);

}
.request-section form>div:nth-child(2) .btn {
    text-transform: capitalize;
    margin-left: 10px;
    width: 20%;
    min-width: 60px;
    max-width: 100px;
}
.story-section {
    margin-top: 0;
    padding-top: 0;
}
.story-section h3 {
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
.story-section p {
    line-height: 15px;
}
.story-section p:nth-child(2n-1) {
    margin-bottom: 10px;
}
.story-section img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--clr-primary);
}
.story-section article:last-child img {
    display: none;
}
.list-section {
    padding: 0 60px 5px;
}
.list-section h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}
.list-section ul {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style: disc;
}
.list-section li {
    margin-bottom: 5px;
    font-weight: 300;
}
.list-section li::marker {
    font-size: 8px;
}

@media (min-width: 480px) and (max-width: 1024px) {
    .title-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 75vh;
        padding-bottom: 10px;
    }
    .title-section h1, .title-section h3, .title-section p {
        width: 45%;
        margin: 0;
        padding: 0;
    }
    .title-section h1, .title-section h3 {
        text-align: left;
    }
    .title-section h3 {
        line-height: 25px;
        margin: 10px 0;
    }
    .title-section p {
        margin-bottom: 10px;
        line-height: 20px;
    }
    .title-section .btn {
        margin: 0;
        margin: auto 0 20px 0;
        padding: 2% 4%;
    }
    .title-section img {
        height: 100%;
        width: 50%;
        order: 1;
        box-sizing: border-box;
    }
    .services-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 1%;
        padding-bottom: 30px;
    }
    .services-section h2 {
        width: 100%;
    }
    .services-section h3 {
        white-space: nowrap;
    }
    .services-section p {
       font-size: 12px;
       padding: 10px 0 0 10px;
    }
    .services-section article {
        margin: 0;
        box-sizing: border-box;
        max-width: 48%;
        width: auto;
    }
    .services-section article:nth-child(2n-1) {
        flex-direction: row;
    }
    .services-section h3, .services-section p {
        text-align: left;
    }
    .why-section article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 35vh;
        padding-bottom: 10px;
    }
    .why-section article>img {
        display: block;
        order: 1;
        object-fit: cover;
        box-sizing: border-box;
        height: 100%;
        max-height: 35vh;
        min-width: 50%;
        max-width: 60%;
        margin-left: auto;
        padding: 5px;
        border-radius: 10px;
    }
    .why-section article>h3 {
        white-space: nowrap;
        margin: 10px auto;
    }
    .why-section article>h3, .why-section article>div {
        width: 45%;
        margin: 0;
        padding: 0;
        height: 50%;
    }
    .why-section article>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        margin-top: 20px;
    }
    .why-section article>div p {
        height: 50%;
        min-height: 110px;
        margin-bottom: 10px;
    }
    .why-section article>div a {
        max-width: fit-content;
    }
    .why-section article>div .btn {
        margin: 10px 0 0 auto;
    }

    .request-section form {
        padding: 10px 60px;
    }
    .request-section input#name, .request-section input#email {
        height: 40px;
    }
    .story-section article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 35vh;
        margin: 15px 0;
    }
    .story-section article h3, .story-section article p {
        width: 65%;
    }
    .story-section article img {
        width: 40%;
        max-height: 180px;
        object-fit: cover;
        margin: auto;
    }
    .story-section article:last-child>img {
        order: -1;
        display: block;
    }
    .story-section article:last-child>p, .story-section article:last-child>h3 {
        text-align: right;
    }
}