
/* VARIABLES */
:root {
    --clr-background: #FFFFFF;
    --clr-primary: #373867;
    --clr-secondary: #aace9b;
    --clr-secondary-lg: #aace9b66;
    --clr-al: #F33413;
    --clr-su: #49A37B;
    --clr-ch: #34636E;
}
html {
    height: auto;
    width: 100vw;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
body>* {
    overflow: hidden;
    background-color: var(--clr-background);
    color: var(--clr-primary)
}
a {
    text-decoration: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 15px;
}
h4 {
    font-size: 15px;
}
p {
    font-size: 10px;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
.btn {
    text-transform: uppercase;
    background-color: var(--clr-background);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}
section {
    margin: 0 8px;
}