:root {
    --clr-background: #FFFFFF;
    --clr-primary: #373867;
    --clr-primary-light: #37386766;
    --clr-secondary: #aace9b;
    --clr-secondary-light: #aace9b66;
    --clr-alert: #F33413;
    --clr-success: #49A37B;
    --clr-check: #34636E;
}
html {
    height: auto;
    font-family: 'Roboto', sans-serif;
}
body>* {
    overflow-x: hidden;
    background-color: var(--clr-background);
    color: var(--clr-primary)
}
a {
    text-decoration: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 15px;
    font-weight: bold;
}
h4 {
    font-size: 15px;
}
p {
    font-size: 12px;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
.btn {
    text-transform: uppercase;
    background-color: var(--clr-background);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}
section {
    margin: 15px 8px;
    padding: 0 10px;
}
input {
    accent-color: var(--clr-check);
}