:root {
    --clr-background: #FFFFFF;
    --clr-primary: #373867;
    --clr-primary-light: #37386766;
    --clr-secondary: #aace9b;
    --clr-secondary-light: #aace9b66;
    --clr-alert: #F33413;
    --clr-success: #49A37B;
    --clr-check: #34636E;
}
html {
    height: auto;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--clr-background);
    color: var(--clr-primary);
    overflow-x: hidden;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 15px;
    font-weight: bold;
}
p {
    font-size: 12px;
}
a {
    text-decoration: none;
}
a:visited {
    color: var(--primary-light);
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
.btn {
    text-transform: uppercase;
    background-color: var(--clr-background);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}
.btn:hover, .btn:active {
    background-color: var(--clr-primary);
    color: var(--clr-background);
}
main section {
    margin: 15px 8px;
    padding: 10px 6px;
}
input {
    accent-color: var(--clr-check);
}
@media (min-width: 480px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    main section {
        padding: 0 2vw;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .main-aside-container {
        display: flex;
        align-items: flex-start;
    }
    h4, a{
        font-size: 15px;
    }
    p{
        font-size: 20px;
    }
}